body {
    margin: 0 auto;
    background: black;
}

button {
    cursor: pointer;
}

main {
    margin: 0 auto;
    background: #8A8A8A;
}

header nav {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #343A40;
    color: #fff;
}

footer {
    background: #343A40;
    color: #fff;
    display: flex;
    justify-content: end;
}

footer img {
    width: 80px;
    height: 80px;
}

.wk {
    width: 50px;
}

.href {
    gap: 30px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
}

.href {
    display: flex;
}

.bg {
    background: url("img/Rectangle\ 1.png") no-repeat center;
    height: 100vh;
    opacity: .3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.dota2Learn {
    margin-top: 300px;
    position: absolute;
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    filter: brightness(100%);
}

.dota2Learn h1 {
    color: #F5F5F5;
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
}

.dota2Learn p {
    color: #F5F5F5;
    font-size: 40px;
    text-align: center;
}

.coach {
    padding-top: 40px;
    padding-bottom: 40px;
}

.coach_cont {

    padding: 50px;
    border-radius: 45px;
    background: #D9D9D9;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.personal_training {
    background: #8A8A8A;
    width: 650px;
    border-radius: 45px;
    padding-bottom: 50px;
}

.title {
    text-align: center;
    color: #000;
    font-size: 40px;
}

.price {
    color: #000;
    background: #D9D9D9;
    border-radius: 45px;
    padding: 10px;
    width: 70px;
    text-align: center;
    margin-left: 110px;
}

.textCoach {
    text-align: center;
    padding: 20px;
    width: 400px;
    border-radius: 45px;
    background: #D9D9D9;
    margin: 0 auto;
    border-radius: 45px;
}

/* help */
.help {
    padding-top: 40px;
    padding-bottom: 80px;
}

.helpTitle {

    background: #D9D9D9;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 45px;
}

.help_cont {

    justify-content: center;
    margin-top: 50px;
    display: flex;
    gap: 100px;
}

.buy_acc {
    padding: 20px;
    width: 670px;
    background: #D9D9D9;
    border-radius: 45px;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.cont {
    margin: 0 auto;
    width: 1400px;
}

/* training */
.training {
    padding-top: 40px;
    padding-bottom: 324.5px;
}

.trainingTitle {

    background: #D9D9D9;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 45px;
}

.training_cont {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
}

.training_cont iframe {
    border-radius: 45px;
}

/* acc  */
.acc {
    padding-top: 40px;
    padding-bottom: 174px;
}

.accTitle {
    background: #D9D9D9;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 45px;
}

.acc_card {
    width: 340px;
    height: 500px;
    background: #D9D9D9;
    border-radius: 45px;
    text-align: center;
}

.textAcc {
    margin: 0 auto;
    color: #000;
    font-size: 14px;
    width: 240px;
    background: #8A8A8A;
    border-radius: 25px;
}

.priceAcc {
    padding: 10px;
    margin: 20px auto;
    color: #000;
    font-size: 25px;
    border-radius: 25px;
    width: 220px;
    background: #8A8A8A;
    margin-top: 15px;
    border: none;
}

.open-modal {
    border: none;
    cursor: pointer;
}

.acc_cont {
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(4, 1fr);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8A8A8A;
    padding: 80px 45px;
    border-radius: 45px;
    width: 1280px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.close-modal {
    float: inline-end;
    border-radius: 45px;
    border: none;
    background: #8A8A8A;
}

.modal_cont {
    display: flex;
    justify-content: space-around;
}

.infoBlock {
    width: 330px;
    border-radius: 45px;
    text-align: center;
    align-items: center;
    padding: 50px;
    background: #D9D9D9;
    color: #000;
}

.slider {
    position: relative;
}

.slide {
    display: none;
}

.thumbnails {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.thumbnails img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    padding: 5px 10px;
    cursor: pointer;
}

#prevBtn {
    left: -80px;
}

#nextBtn {
    right: -80px;
}

.ifB {
    margin-top: 20px;
}

.arrow {
    border: none;
    background: none;
}

/* basket */

.basket {
    width: 1251px;
    border-radius: 15px;
    text-align: left;
    padding-left: 65px;
    margin: 0 auto;

}

.title_basket {
    text-align: center;

}

/* sign */
.form {
    margin: 0 auto;
    width: 300px;
    padding: 300px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    width: 300px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
}

.form button {
    background: #343A40;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 306px;
    position: relative;
    left: 0%;
}

.form button:hover {
    background-color: #535e69;
}

.title_sign {
    text-align: center;
    margin-bottom: 20px;
}

.border {
    border-radius: 15px;
    border: 2px solid #333;

}

.basket_cont {
    margin-left: -150px;
    width: 75%;
    padding: 328.5px;
}
.basket_cont .form{
    padding: 0px;
    padding-top: 50px;
}